{% extends "myblog/base.html" %}
{% block article_list %}
        <ul class="col-md-8">
            <li class="dis-article-list">
                <span class="badge badge-info dis-article-info"><a href="#">前端</a></span>
                <h4><a href="#">再聊移动端页面的适配</a></h4>
                <p>
                    前端圈真乱，这话一点不假。但乱也乱的好处，乱则生变，有变化才有进步。今天还是老调重谈，聊聊移动端页面的适配。因为对于一枚前端而言，天天和页面...
                </p>
                <p style="margin-bottom: 0;">
                        <span><a href="#"><img
                                src="https://www.vipbic.com/uploads/20180911/12c512a110a9965e2f98a2de591e1090.jpg"
                                alt="yuzu柚子茶">yuzu柚子茶</a></span>
                    <span>2019-03-14 09:02:15</span>
                </p>
            </li>
            <li class="dis-article-list">
                <span class="badge badge-info dis-article-info"><a href="#">前端</a></span>
                <h4><a href="#">Vue强化学习笔记之模板嵌套</a></h4>
                <p>
                    使用父子模板，定义父模板，内部使用子模版，再将需要的数据进行抽离管理...
                </p>
                <p style="margin-bottom: 0;">
                        <span><a href="#"><img
                                src="https://www.vipbic.com/uploads/20180923/9cd8dd7ffff31ac13e0cc3fc888ea0e9.jpg"
                                alt="qiuier">qiuier</a></span>
                    <span>2019-03-14 09:02:15</span>
                </p>
            </li>
            <li class="dis-article-list">
                <span class="badge badge-info dis-article-info"><a href="#">前端</a></span>
                <h4><a href="#">如何在 JavaScript 中更好地使用数组</a></h4>
                <p>
                    本文短小精悍，我保证。在过去的数个月里，我注意到在我审阅的 pull request 中有四个（关于数组使用的）错误经常出现。同时，我自己也...
                </p>
                <p style="margin-bottom: 0;">
                        <span><a href="#"><img
                                src="https://www.vipbic.com/uploads/20181112/2fd87c68883f7de451eef6c1e0a90270.jpg"
                                alt="追忆">追忆</a></span>
                    <span>2019-03-14 09:02:15</span>
                </p>
            </li>
            <li class="dis-article-list">
                <span class="badge badge-info dis-article-info"><a href="#">前端</a></span>
                <h4><a href="#">纯 CSS 实现多行文字截断</a></h4>
                <p>
                    做响应式系统设计的时候遇到需要对标题进行多行文字截取的效果，如下图：看似十分简单的标题截断效果，但是竟然没有一个统一 CSS 属性实现标准，...
                </p>
                <p style="margin-bottom: 0;">
                        <span><a href="#"><img
                                src="https://www.vipbic.com/uploads/20180911/a7aca2c729843f2bd0d9a3fb254658c6.jpg"
                                alt="Lmangoxx">Lmangoxx</a></span>
                    <span>2019-03-14 09:02:15</span>
                </p>
            </li>
            <li class="dis-article-list">
                <span class="badge badge-info dis-article-info"><a href="#">前端</a></span>
                <h4><a href="#">WebSocket基础知识及用法</a></h4>
                <p>
                    一、为什么需要 WebSocket？初次接触 WebSocket 的人，都会问同样的问题：我们已经有了 HTTP 协议，为什么还需要另一个协...
                </p>
                <p style="margin-bottom: 0;">
                        <span><a href="#"><img
                                src="https://www.vipbic.com/uploads/20180911/12c512a110a9965e2f98a2de591e1090.jpg"
                                alt="yuzu柚子茶">yuzu柚子茶</a></span>
                    <span>2019-03-14 09:02:15</span>
                </p>
            </li>
            <li class="dis-article-list">
                <span class="badge badge-info dis-article-info"><a href="#">前端</a></span>
                <h4><a href="#">关于移动端h5页面不能滑动问题的解决办法</a></h4>
                <p>
                    页面不能滑动无非就是css和js两个方面的问题 有的人说如果我写很多个p标签不写任何样式看能不能滑动，如果能滑动说明是样式的原因，...
                </p>
                <p style="margin-bottom: 0;">
                        <span><a href="#"><img
                                src="https://www.vipbic.com/uploads/20180825/aa7fde13f11aa9e8f62773a742a197f4.png"
                                alt="泡在网上的日子">泡在网上的日子</a></span>
                    <span>2019-03-14 09:02:15</span>
                </p>
            </li>
        </ul>
{% endblock %}