{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
</head>
<body>
<header class="dis-header">
    <div class="dis-header-brand">
            <span class="dis-header-brand-title">
                <a href="/">Disman</a>
            </span>
        <span class="dis-header-brand-small"> | 蹉跎中生存... </span>
    </div>
    <div class="dis-header-right">
        <div class="dis-header-navigation">
            <a href="#" target="_self">Vue</a>
            <a href="#" target="_self">Python</a>
            <a href="#" target="_self">个人记事</a>
            <a href="#" target="_self">分类</a>
            <a href="#" target="_self">标签</a>
            <a href="#" target="_self">本站简介</a>
        </div>
        <div class="dis-header-btn">
            <a href="https://github.com/disman1229/blog/" target="_blank" id="dis-github"><i
                    class="fa fa-github-alt"></i></a>
            <a href="#" id="dis-search"><i class="fa fa-search"></i></a>
        </div>
    </div>
</header>
<article class="container dis-article">
    <div class="row">
        {% block article_left %}{% endblock %}
        <div class="col-md-4">
                <!-- 侧栏-热门文章 -->
                <div class="dis-article-sidebar">
                    <div class="dis-box-header">
                        <h4>热门文章</h4>
                    </div>
                    <ul class="dis-box-list">
                        <li class="dis-text-overflow">
                            <span class="badge badge-pill badge-danger">1</span>
                            <a href="#">学会了Vue，前端面试却没找到工作</a>
                        </li>
                        <li class="dis-text-overflow">
                            <span class="badge badge-pill badge-warning">2</span>
                            <a href="#">React Demo Three - 简书&掘金</a>
                        </li>
                        <li class="dis-text-overflow">
                            <span class="badge badge-pill badge-success">3</span>
                            <a href="#">尽量使用 useReducer，不要使用 useState</a>
                        </li>
                        <li class="dis-text-overflow">
                            <span class="badge badge-pill badge-secondary">4</span>
                            <a href="#">你不知道的 CSS 文档流技巧，让布局更简单</a>
                        </li>
                    </ul>
                </div>
                <!-- 侧栏-最新文章 -->
                <div class="dis-article-sidebar">
                    <div class="dis-box-header">
                        <h4>最新文章</h4>
                    </div>
                    <ul class="dis-box-list">
                        <li class="dis-text-overflow">
                            <span class="badge badge-pill badge-danger">1</span>
                            <a href="#"> React Router v4教程：为你的 React 应用创建路</a>
                        </li>
                        <li class="dis-text-overflow">
                            <span class="badge badge-pill badge-warning">2</span>
                            <a href="#">前端必懂之Sticky Footer(粘性页脚)</a>
                        </li>
                        <li class="dis-text-overflow">
                            <span class="badge badge-pill badge-success">3</span>
                            <a href="#">前端的性能优化（针对内容方面）</a>
                        </li>
                        <li class="dis-text-overflow">
                            <span class="badge badge-pill badge-secondary">4</span>
                            <a href="#"> 可能这些是你想要的H5软键盘兼容方案</a>
                        </li>
                    </ul>
                </div>
                <!-- 侧栏-热门标签 -->
                <div class="dis-article-sidebar">
                    <h5>热门标签</h5>
                    <div class="dis-article-sidebar-tag">
                        <a href="#" class="btn btn-outline-primary">Vue</a>
                        <a href="#" class="btn btn-outline-primary">JQuery</a>
                        <a href="#" class="btn btn-outline-primary">Django</a>
                        <a href="#" class="btn btn-outline-primary">Flask</a>
                        <a href="#" class="btn btn-outline-primary">CSS3</a>
                        <a href="#" class="btn btn-outline-primary">HTML5</a>
                        <a href="#" class="btn btn-outline-primary">Element</a>
                        <a href="#" class="btn btn-outline-primary">Iview</a>
                    </div>
                </div>
                <!-- 侧栏-友情链接 -->
                <div class="dis-article-sidebar">
                    <h5>友情链接</h5>
                    <div class="dis-article-sidebar-tag">
                        <a href="http://www.bootcss.com/" target="_blank" class="btn btn-outline-success">Bootstarp</a>
                        <a href="https://cn.vuejs.org/" target="_blank" class="btn btn-outline-success">Vue.js</a>
                        <a href="#" target="_blank" class="btn btn-outline-success">Django</a>
                        <a href="#" target="_blank" class="btn btn-outline-success">Flask</a>
                        <a href="#" target="_blank" class="btn btn-outline-success">CSS3</a>
                        <a href="#" target="_blank" class="btn btn-outline-success">HTML5</a>
                        <a href="#" target="_blank" class="btn btn-outline-success">Element</a>
                        <a href="#" target="_blank" class="btn btn-outline-success">Iview</a>
                    </div>
                </div>
            </div>
    </div>
</article>
<footer>
    <div class="container">
        <div class="dis-footer-items row">
            <div class="col-md-6">
                <h4>Disman</h4>
                <p>关注Vue前端开发、Python全栈开发的综合网站；</br>
                    分享学到的知识点和自己写的一些小程序；</br>
                    大家一起写BUG，一起没钱途！
                </p>
            </div>
            <div class="col-md-6">
                <h4>关于本站</h4>
                <div>
                    <i class="fa fa-clock-o"></i> 本站已稳定运行
                    <span id="site-time"> 438天10时48分3秒</span>
                </div>
                <div>
                    <i class="fa fa-paw"></i>
                    <span id="busuanzi_container_site_pv" style="display: inline;">您是本站第 <span
                            id="busuanzi_value_site_pv">297232</span> 位访客</span> | 历史数据为 134728 位访客(未迁移)
                </div>
                <div>
                    <i class="fa fa-at"></i> 深度合作: 346025232@qq.com | QQ交流群: 534018786
                </div>
            </div>
            <div class="copyright">
                <i class="fa fa-copyright"></i>
                2019 <a href="https://github.com/disman1229/blog/" target="_blank">Disman-blog</a> ·
                Created by <a href="/">Disman</a> ·
                All rights reserved
            </div>
        </div>
    </div>
</footer>
</body>
</html>