{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <script src="{% static 'base/js/jquery.min.js' %}"></script>
    <script src="{% static 'base/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <header class="dis-header">
        <div class="dis-header-brand">
            <span class="dis-header-brand-title">
                <a href="/">Disman</a>
            </span>
            <span class="dis-header-brand-small"> | 蹉跎中生存... </span>
        </div>
        <div class="dis-header-right">
            <div class="dis-header-navigation">
                <a href="#" target="_self">Vue</a>
                <a href="#" target="_self">Python</a>
                <a href="#" target="_self">个人记事</a>
                <a href="#" target="_self">分类</a>
                <a href="#" target="_self">标签</a>
                <a href="#" target="_self">本站简介</a>
            </div>
            <div class="dis-header-btn">
                <a href="https://github.com/disman1229/blog/" target="_blank" id="dis-github"><i class="fa fa-github-alt"></i></a>
                <a href="#" id="dis-search"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </header>
{#    <main class="container">#}
{#        <div class="dis-blog-list">#}
{#            <div class="dis-content-box">#}
{#                <div class="dis-info-box">#}
{#                    asdas#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </main>#}
</body>
</html>