body{
    background-color: #eaeef2;
}
a{color:#738192;}
a[href]{text-decoration: none;}
li{list-style: none;}
.dis-header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding-left: 10px;
    z-index:300;
}
.dis-header-brand, .dis-header-right{
    display: flex;
    align-items: center;
}
.dis-header-brand a:hover{
    color: #738192;
}
.dis-header-brand-title{
    font-weight: bold;
    font-size: 2rem;
}
.dis-header-brand-small{
    display: inline-block;
    margin: 10px 0 0 5px;
    font-size: 0.5rem;
    color:#616161;
}
.dis-header-right{
    justify-content: flex-end;
}
.dis-header-navigation{
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    /*overflow: auto;*/
}
.dis-header-navigation a {
    margin-right: 1.5rem;
    color: #738192;
    display: block;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.dis-header-navigation a:hover{
    color: #20a0ff;
}
.dis-header-btn a{
    width: 35px;
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.dis-header-btn a i{
    color: #fff;
}
#dis-github{
    background-color: #4FC3F7;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
#dis-search{
    background-color: #03A9F4;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    margin-right: 10px;
}
.dis-article{
    position: relative;
    top: 85px;
}
.dis-article-list{
    border: 1px solid #eaeaea;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.dis-article-list h4{
    display: inline-block;
}
.dis-article-list a:hover{
    color: #20a0ff;
}
.dis-article-list p{
    position: relative;
    line-height: 25px;
    font-size: 14px;
    color: #999;
}
.dis-article-info{
    position: relative;
    top: -3px;
    display: inline-block;
}
.dis-article-info a ,.dis-article-info a:hover{
    color:#fff;
    font-size: 1rem;
    font-weight: 200;
}
.dis-article-list p span a{
    margin-right: 15px;
}
.dis-article-list p span img{
    width: 25px;
    height: 25px;
    margin-right: 8px;
    position: relative;
    border-radius: 25px;
}

/* 侧边栏 */
.dis-article-sidebar{
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 0;
}
.dis-box-bgm{
    border-bottom: 1px solid #eaeaea;
}
.dis-box-header h4{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 2px solid #20a0ff;
    font-size: 1.2rem;
    color: #738192;
}
.dis-box-list{
    padding: 0 15px;
}
.dis-box-list li{
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
    font-size: 0.9rem;
}
.dis-box-list li:last-child{
    border-bottom: 0;
}
.dis-box-list li a:hover{
    color: #20a0ff;
}
.dis-box-list li span{
    position: relative;
    top: -1px;
    margin-right: 5px;

}