body{
    background-color: #738192;
}
a{color:#212121;}
a[href]{text-decoration: none;}
.dis-header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding-left: 10px;
    z-index:300;
}
.dis-header-brand{
    display: flex;
    align-items: center;
}
.dis-header-brand-title{
    font-weight: bold;
    font-size: 2rem;
}
.dis-header-brand-small{
    display: inline-block;
    margin: 10px 0 0 5px;
    font-size: 0.5rem;
    color:#616161;
}